<!-- TODO: Rename this file to dashboard.html when ready -->

{% extends "base.html" %}

{% block content %}

<h2>Your Dashboard</h2>

<h3>Welcome, {{ username }}!</h3>

<a href="/create">Create New Piece</a>

<br><br>

<!-- TODO: Loop through pieces passed from Flask -->
<!-- The variable "pieces" will come from your Flask route -->
<!-- Example structure: -->


{% for piece in pieces %}
    <div>
        <h3>{{ piece['piecename'] }}</h3>
        <p>{{ piece['work'] }}</p>

        <!-- TODO: Add Edit link -->

       <a href="/edit/">{{ piece['id'] }}</a>
    

        <!-- TODO: Add Delete link -->
        <!-- Example: /delete/{{ piece['id'] }} -->

    </div>
    <hr>
{% endfor %}

<!-- TODO: If no pieces exist, display a message like:
"No pieces yet!" -->

<br>

<!-- TODO: Add a logout button -->
<a href="/logout"><button>Logout</button></a>

{% endblock %}